




<%= form_for [:admin, @family], :html => {:class => "form-horizontal"} do |f| %>

<div class="form-group">
  <%= f.label :first_name  %>
  <%= f.text_field :first_name, class: "form-control"   %></br>
</div>
<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: "form-control" %></br>

</div>

<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, class: "form-control" %></br>

</div>
<div class="form-group">
  <%= f.label :arrival_date %>
  <%= f.date_field :arrival_date, class: "form-control" %></br>

</div>
<div class="form-group">
  <%= f.label :deadline %>
  <%= f.date_field :deadline, class: "form-control"%></br>

</div>
<div class="form-group">
  <%= f.label :nationality %>
  <%= f.text_field :nationality, class: "form-control" %></br>

</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %></br>

</div>
<div class="form-group">
  <%= f.label "Number of Married Adults in Household:" %>
  <%= f.select :num_married_adults, (0..6), class: "form-control" %></br>

</div>
<div class="form-group">
  <%= f.label "Number of Unmarried Adults in Household:" %>
  <%= f.select :num_non_married_adults, (0..6), class: "form-control" %></br>

</div>
<div class="form-group">
  <%= f.label "Number of Children over 2 in Household:"%>
  <%= f.select :num_children_over_two, (0..10), class: "form-control" %></br>

</div>

<div class="form-group">
  <%= f.label "Number of Children Under 2 in Household:" %>
  <%= f.select :num_children_under_two, (0..4), class: "form-control" %></br>

</div>

  <%= f.submit "Create Family" %>


<% end %>
