
<p>Scheduled to Arrive: <%= @family.arrival_date %></h4>
<p>Name: <%= @family.last_name %>, <%= @family.first_name %></p>
<p>Nationality: <%= @family.nationality %> </p>
<p>Description: <%= @family.description %></p>
<p>Address: <%= @family.address %></p>
<p>Family Composition:</p>
<ul>
  <li>Married Adults: <%= @family.num_married_adults %></li>
  <li>Unmarried Adults: <%= @family.num_non_married_adults %></li>
  <li>Children over 2: <%= @family.num_children_over_two %></li>
  <li>Children under 2: <%= @family.num_children_under_two %></li>
</ul>




<h4>Supply List</h4>
<table class="table">
  <tr>
    <th>Supply</th>
    <th>Quantity</th>
    <th>Status</th>
    <th></th>
  </tr>


    <% @family.supply_items.each do |supply_item| %>
    <tr>

      <%= form_for [:admin, @family, supply_item], :html => {:class => "form"} do |f| %>
      <td><%= supply_item.supply.name %></td>
      <td>
      <div class="form-group">
        <%= f.text_field :quantity, class: "form-control"   %></br>
      </div>
      </td>
      <td>
      <div class="form-group">
        <%= f.select(:status, ["Needed", "Pledged", "Received"], { :prompt => 'Select', :selected => supply_item.status }, { class: 'form-control' }) %></br>
      </div>

      </td>

      <td>

      <%= f.submit "Update" %>

      </td>
      <% end %>

    <% end %>
</table>



<%= link_to "Edit Information", edit_admin_family_path(@family) %>
<%= link_to "Delete Family", admin_family_path(@family), method: :delete %>
<%= link_to "See All Families", families_path %>
