<div class="container">
<%= button_to "Back to Family List", families_path, :method => "get", class: "btn btn-primary" %>
</div>

<%= render partial: "/shared/family_profile" %>

<h4>Supply List</h4>
<table class="table">
  <tr>
    <th>Supply</th>
    <th>Quantity</th>
    <th>Status</th>
    <th></th>
  </tr>


    <% @family.supply_items.each do |supply_item| %>
    <tr>

      <%= form_for [:admin, @family, supply_item], :html => {:class => "form #{supply_item.supply.name}"} do |f| %>
      <td><%= supply_item.supply.name %></td>
      <td>
      <div class="form-group">
        <%= f.text_field :quantity, class: "form-control"   %></br>
      </div>
      </td>
      <td>
      <div class="form-group">
        <%= f.select(:status, ["Needed", "Pledged", "Received"], { :prompt => 'Select', :selected => supply_item.status }, { class: 'form-control' }) %></br>
      </div>

      </td>

      <td>

      <%= f.submit "Update" %>

      </td>
      <% end %>

    <% end %>
</table>
