
<p>Scheduled to Arrive: <%= @family.arrival_date %></h4>
<p>Name: <%= @family.last_name %>, <%= @family.first_name %></p>
<p>Nationality: <%= @family.nationality %> </p>
<p>Description: <%= @family.description %></p>
<p>Address: <%= @family.address %></p>
<p>Family Composition:</p>
<ul>
  <li>Married Adults: <%= @family.num_married_adults %></li>
  <li>Unmarried Adults: <%= @family.num_non_married_adults %></li>
  <li>Children over 2: <%= @family.num_children_over_two %></li>
  <li>Children under 2: <%= @family.num_children_under_two %></li>
</ul>


<h4>Supply List</h4>
<% @family.supply_items.each do |supply_item| %>
  <%= form_for [:admin, @family, supply_item], :html => {:class => "form-horizontal"} do |f| %>

  <p><%= supply_item.supply.name %>:</p>

  <div class="form-group">
    <%= f.label :quantity  %>
    <%= f.text_field :quantity, class: "form-control"   %></br>
  </div>

  <div class="form-group">
    <%= f.label :status  %>
    <%= f.select(:status, ["Needed", "Pledged", "Received"], { :prompt => 'Select', :selected => supply_item.status }, { class: 'form-control' }) %></br>
  </div>

  <%= f.submit "Update" %>
  <% end %>

<% end %>


<%= link_to "Edit Information", edit_admin_family_path(@family) %>
<%= link_to "Delete Family", admin_family_path(@family), method: :delete %>
<%= link_to "See All Families", families_path %>
