<h1>Refugee Families Scheduled to Arrive</h1>

<% @families.each do |family| %>
  <%= link_to "#{family.last_name}, #{family.first_name}", family_path(family) %>
  <% if current_admin? %>
  <%= link_to "(Edit)", edit_admin_family_path(family) %>
  <%= link_to "(Delete)", admin_family_path(family), method: :delete %>
  <% end %>
  <p>Arrival Date: <%= family.arrival_date %> </p>
  <p>Address: <%= family.address %> </p>
<% end %>
<br>
<br>
<% if current_admin? %>
<%= link_to "Add new family", new_admin_family_path %>
<% end %>
