<div class="">



<div class="col-sm-6">
  <%= image_tag "#{@family.nationality}.jpeg" %>
</div>

<div class="col-sm-6 ">
<% if current_admin? %>
  <%= link_to "Edit Information", edit_admin_family_path(@family) %>
  <%= link_to "Delete Family", admin_family_path(@family), method: :delete %>
  <h2>Name: <%= @family.last_name %>, <%= @family.first_name %></h2>

<% else %>
  <h2> <%=@family.nationality%> family of <%=@family.num_people%></h2>
<% end %>

<p>Scheduled to Arrive: <%= @family.arrival_date %></h4>



<p>Description: <%= @family.description %></p>
<p>Nationality: <%= @family.nationality %> </p>

<p>Family Composition:</p>

<table class="table">
  <tr>
    <td>Married Adults: </td>
    <td><%= @family.num_married_adults %></td>
    <td>Unmarried Adults:</td>
    <td><%= @family.num_non_married_adults %></td>
  </tr>

  <tr>
    <td>Children over 2: </td>
    <td><%= @family.num_children_over_two %></td>
    <td>Children under 2:</td>
    <td><%= @family.num_children_under_two %></td>
  </tr>

</table>

</div>

</div>


<div class="col-sm-12 container"></div>


<h4>Supply List</h4>
<table class="table">
  <tr>
    <th>Supply</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Donation Information</th>
  </tr>

<% @family.supply_items.each do |supply_item| %>
<tr>
    <%= form_for [@family, supply_item] do |f| %>
    <td><%= supply_item.supply.name %></td>
    <td><%= supply_item.quantity %></td>
    <td><%= supply_item.status %></td>
    <td>
    <% if  supply_item.status == "Pledged"%>
      <p>Pledged by: <%=supply_item.user.username %></p>

    <% elsif  supply_item.status == "Received"%>
      <p>Receieved From: <%=supply_item.user.username %></p>

    <% else %>
      <%= f.submit "Donate" %>
    <% end %>
    </td>

  <% end %>

</tr>

<% end %>


</table>
