<% if current_admin? %>

  <div class="btn-group btn-group-justified">

  <%= button_to "Edit Family", edit_admin_family_path(@family), :method => "get", class: "btn btn-primary" %>

  <%= button_to "Delete Family", admin_family_path(@family), :method => "delete", class: "btn btn-primary" %>

  <%= button_to "Edit Supplies", admin_family_path(@family), :method => "get", class: "btn btn-primary" %>

  </div>
<% end %>


<div class="">

  <%= render partial: "/shared/family_profile" %>



</div>


<div class="col-sm-12 container"></div>


<h4>Supply List</h4>
<table class="table">
  <tr>
    <th>Supply</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Donation Information</th>
  </tr>

<% @family.supply_items.each do |supply_item| %>
<tr>
    <% if supply_item.quantity > 0 %>
      <%= form_for [@family, supply_item], :html => {:class =>  supply_item.supply.name} do |f| %>
      <td><%= supply_item.supply.name %></td>
      <td><%= supply_item.quantity %></td>
      <td><%= supply_item.status %></td>
      <td>
        <% if  supply_item.status == "Pledged" && supply_item.user%>
          <p>Pledged by: <%=supply_item.user.username %></p>

        <% elsif  supply_item.status == "Received" && supply_item.user%>
          <p>Received From: <%=supply_item.user.username %></p>

        <% elsif supply_item.status == "Needed" && current_user%>
          <%= f.submit "Donate" %>

        <% elsif !current_user%>
          <%= link_to "Login to Donate", login_path %>
        <% end %>
      </td>
    <% end %>

  <% end %>

</tr>

<% end %>


</table>
